<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Supermercado</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left">
        <div class="input-group buscador">
          <input 
            type="text" 
            class="form-control" 
            [(ngModel)]="searchText"
            name="buscador"
            placeholder="Buscar producto..." 
            aria-describedby="basic-addon2">
          <span class="input-group-addon glyphicon glyphicon-search"></span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Producto 1</a></li>
            <li><a href="#">Producto 2</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">TOTAL DE LA COMPRA</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Componente: RecetaDetalleComponent -->
<h2>TOP 10 PRODUCTOS</h2>
<!-- <p><b>Productos:</b> {{ listaProductos | json }}</p> -->
<div class="componente-producto" *ngFor="let producto of listaProductos | filterProductos : searchText">
  <!-- <p><b>Producto:</b> {{ producto | json }}</p> -->
  <app-producto [producto]="producto"></app-producto>
</div>
