/* Estilos de SupermercadoComponent */

nav.navbar-inverse {
    border-radius: 0;
    padding-right: 20px;
    .buscador {
        .glyphicon-search {
            top: 0;
        }
    }
    a.dropdown-toggle {
        background-color: #008C2E;
        &:hover {
            background-color: #88CC88;
        }
        .badge {
            background-color: black;
        }
        .glyphicon-shopping-cart {
            color: white;
        }
        .total-navegador {
            color: white;
            font-weight: 600;
        }
    }
    ul.dropdown-menu {
        width: 500px;
        padding: 0;
        .divider {
            padding-bottom: 0;
        }
        .total-carrito {
            background-color: #ddd;
            padding: 10px;
            p {
                margin: 0;
                padding: 2px 0 2px 0;
                font-size: 1.2em;
                text-align: right;
                span {
                    float: right;
                    width: 80px;
                }
            }
        }
    }
}

h2 {
    display: flex;
    justify-content: center;
}