/* Estilos de SupermercadoComponent */

nav.navbar-inverse {
    border-radius: 0;
    .buscador {
        .glyphicon-search {
            top: 0;
        }
    }
    a.dropdown-toggle {
        background-color: #008C2E;
        &:hover {
            background-color: #88CC88;
        }
        .badge {
            background-color: black;
        }
        .glyphicon-shopping-cart {
            color: white;
        }
        .total-navegador {
            color: white;
            font-weight: 600;
        }
    }
    ul.dropdown-menu {
        width: 500px;
        .total-carrito {
            background-color: darkgrey;
        }
    }
}

h2 {
    display: flex;
    justify-content: center;
}