/* Estilos de SupermercadoComponent */

nav.navbar-inverse {
    border-radius: 0;
    .buscador {
        .glyphicon-search {
            top: 0;
        }
    }
    a.dropdown-toggle {
        background-color: #88CC88;
        .glyphicon-shopping-cart {
            color: white;
        }
    }
}

h2 {
    display: flex;
    justify-content: center;
}