<div class="producto-carrito row" *ngFor="let prodCarrito of listaCompra">
  <div class="imagen col-xs-2">
    <img src="{{prodCarrito.producto.imagen}}" alt="{{prodCarrito.producto.nombre}}">
  </div>
  <div class="descripcion col-xs-6">
    <p class="precio"><b>{{prodCarrito.producto.precio | number:'.2-2'}} €</b></p>
    <p>{{prodCarrito.producto.nombre | slice:0:35 }}</p>
  </div>
  <div class="btn-group unidades col-xs-2" role="group">
    <button type="button" class="btn btn-default" (click)="decUnidad($event)" title="disminuir unidades del producto">-</button>
    <input type="text" class="btn btn-default cantidad" [(ngModel)]="prodCarrito.unidades" readonly>
    <button type="button" class="btn btn-default" (click)="aumUnidad(this.productoAniadido)" title="aumentar unidades del producto">+</button>
  </div>
  <div class="borrar col-xs-1">
    <button class="btn btn-default" (click)="borrarDelCarrito(this.prodCarrito)" (productoBorrado)='deleteFromCart(this.prodCarrito)'>
    <span class="glyphicon glyphicon-trash" aria-hidden="true" title="borrar elemento del carrito"></span>
  </button>
  </div>
</div>