
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="thumbnail">
    <img  class="img-producto" src="{{producto.imagen}}" alt="{{producto.nombre}}">
    <!-- data-toggle="modal" data-target="#modal-imagen" title="pulsa para agrandar imagen" -->
    <span *ngIf="producto.oferta" class="burubuja-oferta">{{producto.oferta}}%</span>
    <div class="caption">
      <h3 *ngIf="!producto.oferta" class="precio">{{producto.precio | number:'.2-2' }} €</h3>
      <div *ngIf="producto.oferta" class="oferta">
        <h3 class="precio-tachado">{{producto.precio | number:'.2-2' }} € </h3>     
        <h3 class="precio-con-descuento"> {{ precioConDescuento | number:'.2-2' }} €</h3>
      </div>
      <p class="precio-unidad">( {{producto.precioUnidad}} )</p>
      <p class="nombre-producto">{{producto.nombre}}</p>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" (click)="decUnidad()">-</button>
        <input type="text" class="btn btn-default cantidad" value="1" [(ngModel)]="unidades" readonly>
        <button type="button" class="btn btn-default" (click)="aumUnidad()">+</button>
      </div>
      <p><a href="#" class="btn btn-success btn-block" (click)="addToCart()" role="button">AÑADIR AL CARRO</a></p>
    </div>
  </div>
</div>

<!-- Modal para imagen del producto-->
<!-- <div class="modal fade" id="modal-imagen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{producto.nombre}}</h4>
      </div>
      <div class="modal-body">
          <img class="img-producto" src="{{producto.imagen}}" alt="{{producto.nombre}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> -->